body{
	background-color: #fff;
}
#header{
	width: 960px;
	height: 100px;
	margin: 0,auto;
}
h1{
	float: left;
	margin-left: 560px;
}
#cd1{
	width: 50px;
	height: 50px;
	position: relative;
	margin-top: 35px;
	margin-left: 700px;
	background-color: lightgray;
}
#cd2{
	background: url(../img/1.jpg) no-repeat;
	border-radius: 50%;
}
#cd3{
	background: url(../img/cd.png) no-repeat;
}
#cd2,#cd3{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
@-webkit-keyframes name{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
.rotateCD{
	-webkit-animation: CDR 3s infinite linear;
}
.container{
	width: 960px;
	height: 450px;
	margin: 0px auto;
	position: relative;
}

.container img{
	padding: 10px 10px 15px;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 130px;
}

.container img:hover{
	box-shadow: 15px 15px 20px rgba(50,50,50,0.4);
	-webkit-transform: rotate(0deg) scale(1.80);
	-moz-transform: rotate(0deg) scale(1.80);
	z-index: 2;
}

.pic1{
	left: 150px;
	top: 10px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.pic2{
	left: 250px;
	top: 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.pic3{
	left: 350px;
	top: 10px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.pic4{
	left: 450px;
	top: 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.pic5{
	left: 550px;
	top: 10px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.pic6{
	left: 200px;
	top: 200px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.pic7{
	left: 300px;
	top: 250px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.pic8{
	left: 400px;
	top: 200px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.pic9{
	left: 500px;
	top: 250px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}